@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

.brand-logo {
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-left: -20px;
}

.nav {
    background-color: slateblue;
}

.navbar-fixed {
    font-family: cursive;
}

#Tig {
    height: 25%;
    width: 25%;
    border-radius: 50%;
}

.white-text {
    font-size: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    font-family: cursive;
}